<div class="container">
   <div class="row">
     <div class="col-sm">
       
     </div>
     <div class="col-sm">
      <form class = "tp-form">
         <mat-form-field class = "tp-full-width">
            <input type = "text" 
               placeholder = "Product Name" 
               aria-label = "Number" 
               matInput 
               [formControl] = "myControl" 
               [matAutocomplete] = "auto">
            <mat-autocomplete #auto = "matAutocomplete" (optionSelected)="selectionMethod($event)">
               <mat-option *ngFor = "let product of filteredOptions | async" [value] = "product.name">
                  {{product.name}}
               </mat-option>
            </mat-autocomplete>
         </mat-form-field>
      </form>
     </div>
     <div class="col-sm">
       
     </div>
   </div>

   <div  *ngIf="selectedOption?._id">
      <hr>
      <div class="row">
         <div class="col-sm">
            ID - <span style="color: blue;">{{selectedOption?._id}}</span>
         </div>
         <div class="col-sm">
           QTY - <span style="color: blue;">{{selectedOption?.units_available}}</span>
         </div>
      </div>
      <hr>
       <div class="row">
         <div class="col-sm">
            Product Name - <span style="color: blue;">{{selectedOption?.name}}</span>
         </div>
      </div>
      <hr>
       <div class="row">
         <div class="col-sm">
            Cost Price - <span style="color: blue;">{{selectedOption?.cost_per_unit}}</span>
         </div>
      </div>
      <hr>
       <div class="row">
         <div class="col-sm">
            Selling Price - <span style="color: blue;">{{selectedOption?.selling_price_per_unit}}</span>
         </div>
      </div>
      <hr>
   </div>
   
 </div>


