<mat-sidenav-container class="navbar-nav sidebar accordion bg-gradient-primary">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand" href="javascript:void(0)">
        <div>CMYKPrint</div>
    </a>
    <hr class="sidebar-divider my-0">

    <mat-list role="list" class="nav-item">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="nav-link">
                    Machines
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-row>
                <a class="nav-link" routerLink="/home/search">
                    <i class="fas fa-fw fa-binoculars"></i>
                    <span>Search</span></a>
            </mat-action-row>
            <mat-action-row>
                <a class="nav-link" routerLink="/home/search">
                    <i class="fas fa-fw fa-binoculars"></i>
                    <span>Search</span></a>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-list>
    <hr class="sidebar-divider my-0">
    

</mat-sidenav-container>