<mat-sidenav-container class="navbar-nav sidebar accordion bg-gradient-primary">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand" href="javascript:void(0)">
        <div>Robobai</div>
    </a>
    <hr class="sidebar-divider my-0">
    
    <!-- Divider -->

    <!-- Nav Item - Dashboard -->
    <mat-list role="list" class="nav-item">
        <a class="nav-link" routerLink="/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </mat-list>

    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Search -->
    <mat-list role="list" class="nav-item">
        <a class="nav-link" routerLink="/home/search">
            <i class="fas fa-fw fa-binoculars"></i>
            <span>Search</span></a>
    </mat-list>
    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item - Create -->
    <mat-list role="list" class="nav-item">
        <a class="nav-link" routerLink="/home/create">
            <i class="fas fa-fw fa-plus"></i>
            <span>Create</span></a>
    </mat-list>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Create -->
    <mat-list role="list" class="nav-item">
        <a class="nav-link" routerLink="/home/update">
            <i class="fas fa-fw fa-edit"></i>
            <span>Update</span></a>
    </mat-list>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Create -->
    <mat-list role="list" class="nav-item">
        <a class="nav-link" routerLink="/home/delete">
            <i class="fas fa-fw fa-trash-alt"></i>
            <span>Delete</span></a>
    </mat-list>
    <!-- Divider -->
    <hr class="sidebar-divider">

</mat-sidenav-container>
