<table class="table table-bordered">
    <thead>
        <th>Index</th>
        <th>id</th>
        <th>Name</th>
        <th>Cost Per Unit</th>
        <th>Selling Price Per Unit</th>
        <th>Units Available</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of listOfProducts; let i = index">
            <td>{{i + 1}}</td>
            <td>{{product._id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.cost_per_unit}}</td>
            <td>{{product.selling_price_per_unit}}</td>
            <td>{{product.units_available}}</td>
            <td>
                <button class="btn" (click)="editProduct(product)"><i class="fa fa-edit"></i></button>
                <button class="btn" (click)="deleteProduct(product)"><i class="fa fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>
