<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm" [hidden]="hideSelect">
            <form class="tp-form">
                <mat-form-field class="tp-full-width">
                    <input type="text" placeholder="Product Name To Edit" aria-label="Number" matInput
                        [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectionMethod($event)">
                        <mat-option *ngFor="let product of filteredOptions | async" [value]="product.name">
                            {{product.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>

    <div *ngIf="selectedOption?._id">
        <hr>
        <div class="row">
            <div class="col-sm">
                ID - <span style="color: blue;">{{selectedOption?._id}}</span>
            </div>
            <div class="col-sm">
                QTY - <span style="color: blue;">{{selectedOption?.units_available}}</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                Product Name - <input type="text" [pattern]="'^[a-zA-Z0-9 \'\-]+$'" #numberTender="ngModel" required [(ngModel)]="selectedOption.name">
            </div>
            <small style="color: red;" [hidden]="numberTender.pristine || numberTender.valid">
                Product name should be alphanumeric character.
            </small>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                Cost Price - <span style="color: blue;">{{selectedOption?.cost_per_unit}}</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                Selling Price - <input type="text" [(ngModel)]="selectedOption.selling_price_per_unit">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <button class="btn btn-primary" (click)="editProduct()">Update Product</button>
            </div>
            <div class="col-sm">

            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                <span style="color: red;" [hidden]="!err">Something bad happened! Please try later</span>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

</div>